aside.sidebar ul li {
  margin: 0 0 0 10px;
  position: relative;
}

aside.sidebar ul li ul {
  margin: 3px 0;
}

aside.sidebar ul li p {
  padding-left: 22px;
  font-size: 18px;
  font-weight: normal;
}

aside.sidebar ul li a {
  line-height: 35px;
  font-size: 16px; /* 导航栏字体大小 */
  padding: 0px 0 3px 12px;
}

aside.sidebar ul li.active > a {
  font-size: 16px !important;
}

aside.sidebar ul li.active > a:before {
  content: "" !important;
  position: absolute !important;
  margin: 0 !important;
  width: 10px !important;
  height: 10px !important;
  top: 15px !important;
  left: 0px !important;
  border-radius: 50% !important;
  background-color: #fed24a !important;
  box-shadow: 0 0 0 3px rgba(254, 210, 74, 0.4) !important;
}
:root {
  @randomMargin: `Math.round(Math.random() * 100)`;

  /* Reduce the font size */
  --base-font-size: 16px;

  /* Change the theme color hue */
  /* --theme-hue: 140; */

  /* Change the sidebar bullets */
  /* --sidebar-nav-link-before-content: '😀'; */

  --content-max-width: 58em;
}

[v-pre] code {
  padding: 1.5em 1.3em;
  margin-left: 30px !important;
}

.code-line-box {
  list-style-type: none;
  border-right: 1px solid rgb(114, 114, 114);
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  user-select: none;
}
.code-line-box {
  padding: calc(1.5em + 1px) 0px !important;
  /* padding-right: 50px !important; */
  /* padding-bottom: calc(1.5em + 20px) !important; */
  margin: 0px !important;
}
.code-line-box {
  line-height: inherit !important;
  /* background-color: #191919; */
  color: #aaa;
  font-weight: 400;
  /* font-size: 0.85em; */
  text-align: center;
}

/* Page TOC */
.page_toc {
  margin-top: 80px;
  font-size: 0.875rem;
  padding: 0rem 1rem 0rem 0.25rem;
  height: 95%;
}
.page_toc ul {
  height: 95%;
  overflow-y: auto;
}
.page_toc ul a {
  font-weight: 400;
  color: #888888;
}
.page_toc ul a:hover span {
  color: var(--theme-color, #298596);
}
.page_toc .active {
  border-left: none;
  color: var(--theme-color, #298596);
  padding-left: 0px;
}
.page_toc .active::before {
  content: '';
  width: 3px;
  background-color: var(--theme-color, #298596);
  display: inline-block;
  height: 1.25rem;
  position: absolute;
  left: 0px;
}
@media screen and (max-width: 1300px) {
  .page_toc {
      margin-bottom: -120px;
  }
}

. markdown-section {
  min-width: 900px !important;
}

